<ion-view>
    <ion-content class="login-screen" scroll="false">
        <div class="login-header">
            <h1>Macrobot</h1>
        </div>
        
        <div ng-show="currentForm === 'login'">
            <form class="login-form" ng-submit="login()">
                <div class="list">
                    <label class="item item-input">
                      <input type="text" placeholder="Email" ng-model="user.email">
                    </label>
                    <label class="item item-input">
                      <input type="text" placeholder="Password" ng-model="user.password">
                    </label>
                    <div class="item login-button">
                        <button class="button button-block button-balanced">
                          Login
                        </button>         
                    </div>

                    <div class="item login-error" ng-if="error[currentForm].length > 0">
                        <p ng-repeat="error in error[currentForm]">{{error[0]}}</p>
                    </div>             
                    <div class="item login-text">
                        <a ng-click="currentForm = 'forgotpassword'">Forgot Password?</a>
                    </div>
                </div>

            </form>

        
            <div class="secondary-action">
                <button class="button button-block button-balanced" ng-click="currentForm = 'register'">
                  Register
                </button>              
            </div>
        </div>
        
        
        <div ng-show="currentForm === 'register'">
            <form class="login-form" ng-submit="register()">
                <div class="list">
                    <label class="item item-input">
                      <input type="text" placeholder="Email" ng-model="user.email">
                    </label>
                    <label class="item item-input">
                      <input type="text" placeholder="Password" ng-model="user.password">
                    </label>
                    <label class="item item-input">
                      <input type="text" placeholder="Confirm Password" ng-model="user.confirm_password">
                    </label>                    
                    <div class="item login-button">
                        <button class="button button-block button-balanced">
                          Register
                        </button>         
                    </div>

                    <div class="item login-error" ng-if="error[currentForm].length > 0">
                        <p ng-repeat="error in error[currentForm]">{{error[0]}}</p>
                    </div>
                </div>

            </form>

        
            <div class="secondary-action">
                <button class="button button-block button-balanced" ng-click="currentForm = 'login'">
                  Login
                </button>              
            </div>
        </div>   
        
        
        <div ng-show="currentForm === 'forgotpassword'">
            <form class="login-form" ng-submit="resetPassword()">
                <div class="list">
                    <label class="item item-input">
                      <input type="text" placeholder="Email" ng-model="user.email">
                    </label>                  
                    <div class="item login-button">
                        <button class="button button-block button-balanced">
                          Reset Password
                        </button>         
                    </div>

                    <div class="item login-error" ng-if="error[currentForm].length > 0">
                        <p ng-repeat="error in error[currentForm]">{{error[0]}}</p>
                    </div>
                </div>

            </form>

        
            <div class="secondary-action">
                <button class="button button-block button-balanced" ng-click="currentForm = 'login'">
                  Login
                </button>              
            </div>
        </div>          

    </ion-content>
    

</ion-view>
