<ion-view>
    <ion-content class="login-screen">
        <div class="login-header">
            <h1>Macrobot</h1>
        </div>
        
        <div ng-show="form.currentForm === 'login'">
            <form class="login-form" ng-submit="login()">
                <div class="list">
                    <label class="item item-input">
                      <input type="text" placeholder="Email" ng-model="user.email">
                    </label>
                    <label class="item item-input">
                      <input type="password" placeholder="Password" ng-model="user.password">
                    </label>
                    <div class="item login-button">
                        <button class="button button-block button-balanced">
                          Login
                        </button>         
                    </div>

                    <div class="item login-error" ng-if="error[form.currentForm].length > 0">
                        <p ng-repeat="error in error[form.currentForm]">{{error[0]}}</p>
                    </div>             
                    <div class="item login-text">
                        <a ng-click="form.currentForm = 'forgotpassword'">Forgot Password?</a>
                    </div>
                </div>

            </form>

        
            <div class="secondary-action">
                <button class="button button-block button-balanced" ng-click="form.currentForm = 'register'">
                  Register
                </button>              
            </div>
        </div>
        
        
        <div ng-show="form.currentForm === 'register'">
            <form class="login-form" ng-submit="register()">
                <div class="list">
                    <label class="item item-input">
                      <input type="text" placeholder="Email" ng-model="user.email">
                    </label>
                    <label class="item item-input">
                      <input type="password" placeholder="Password" ng-model="user.password">
                    </label>
                    <label class="item item-input">
                      <input type="password" placeholder="Confirm Password" ng-model="user.confirm_password">
                    </label>                    
                    <div class="item login-button">
                        <button class="button button-block button-balanced">
                          Register
                        </button>         
                    </div>

                    <div class="item login-error" ng-if="error[form.currentForm].length > 0">
                        <p ng-repeat="error in error[form.currentForm]">{{error[0]}}</p>
                    </div>
                </div>

            </form>

        
            <div class="secondary-action">
                <button class="button button-block button-balanced" ng-click="form.currentForm = 'login'">
                  Login
                </button>              
            </div>
        </div>   
        
        
        <div ng-show="form.currentForm === 'profile'">
            <form class="login-form" ng-submit="saveProfile()">
                <div class="list">
                    <div class="item gender-select">
                        <div>Select Your Gender</div>
                        <i class="icon ion-man" ng-click="profile.gender = 'male'" ng-class="{active:profile.gender === 'male'}"></i>
                        <i class="icon ion-woman" ng-click="profile.gender = 'female'" ng-class="{active:profile.gender === 'female'}"></i>
                    </div>
                    <label class="item item-input">
                      <input type="number" placeholder="Age" ng-model="profile.age">
                    </label>
                    <label class="item item-input">
                      <input type="number" placeholder="Bodyfat" ng-model="profile.bodyfat">%
                    </label>    
                    <div class="weight-select">
                        <label class="item item-input">
                          <input type="number" placeholder="Weight" ng-model="profile.weight">
                        </label>                    
                        <label class="item item-input  item-select">                       
                          <select ng-model="profile.weight_unit">
                              <option ng-value="lbs">lbs</option>
                              <option ng-value="kg">kg</option>
                          </select>
                        </label>  
                    </div>
                    <div class="item login-button">
                        <button class="button button-block button-balanced">
                          Get Macros
                        </button>         
                    </div>

                    <div class="item login-error" ng-if="error[form.currentForm].length > 0">
                        <p ng-repeat="error in error[form.currentForm]">{{error[0]}}</p>
                    </div>
                </div>

            </form>

        
            <div class="secondary-action">
                <button class="button button-block button-balanced" ui-sref="app.home">
                  Skip
                </button>              
            </div>
        </div>         
        
        
        <div ng-show="form.currentForm === 'forgotpassword'">
            <form class="login-form" ng-submit="resetPassword()">
                <div class="list">
                    <label class="item item-input">
                      <input type="text" placeholder="Email" ng-model="user.email">
                    </label>                  
                    <div class="item login-button">
                        <button class="button button-block button-balanced">
                          Reset Password
                        </button>         
                    </div>

                    <div class="item login-error" ng-if="error[form.currentForm].length > 0">
                        <p ng-repeat="error in error[form.currentForm]">{{error[0]}}</p>
                    </div>
                </div>

            </form>

        
            <div class="secondary-action">
                <button class="button button-block button-balanced" ng-click="form.currentForm = 'login'">
                  Login
                </button>              
            </div>
        </div>          

    </ion-content>
    

</ion-view>