<?xml version='1.0' encoding='utf-8'?>
<widget id="com.taylorhamling.macrobot" version="0.0.1" versionCode="100" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android = "http://schemas.android.com/apk/res/android">

	<gap:config-file platform="android" parent="/manifest">
		<application android:theme="@android:style/Theme.Holo.Light.NoActionBar"></application>		
	</gap:config-file>	
	
	
  <name>Macrobot</name>
  <description>
    Auto adjusting macro calculator
  </description>
  <author email="taylor@taylorhamling.com" href="http://www.taylorhamling.com">
    Taylor Hamling
  </author>
  
  
    <content src="index.html" />
	<preference name="phonegap-version" value="cli-6.0.0" />
	<preference name="android-build-tool" value="gradle" /> 
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
	<preference name="loadUrlTimeoutValue" value="700000" />
	

    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="15" />
	<preference name="android-targetSdkVersion" value="23" />
    <preference name="android-installLocation" value="auto" />
	
	<preference name="windows-arch" value="x86" />

	<preference name="SplashScreen" value="resources/splash.png" />
	<preference name="AutoHideSplashScreen" value="false" />
	<preference name="SplashScreenDelay" value="10000" />
	<preference name="FadeSplashScreen" value="true"/>
	<preference name="FadeSplashScreenDuration" value="500"/>
	<preference name="SplashMaintainAspectRatio" value="true" />
	<preference name="SplashShowOnlyFirstTime" value="true" />
	<preference name="SplashScreenBackgroundColor" value="white" />
	<preference name="ShowSplashScreenSpinner" value="false"/>
    <gap:plugin name="cordova-plugin-network-information" source="npm"/>
    <gap:plugin name="cordova-plugin-splashscreen" source="npm"/>

	
	
	<gap:plugin spec="https://github.com/litehelpers/Cordova-sqlite-legacy-build-support.git#master"/>
	
	<gap:plugin name="cordova-plugin-statusbar" source="npm"/>
	
	<gap:plugin name="phonegap-plugin-push" source="npm" version="1.7.0">
		<param name="SENDER_ID" value="654916760436" />
	</gap:plugin>
	<preference name="KeyboardDisplayRequiresUserAction" value="false" />

	

	<gap:plugin name="de.appplant.cordova.plugin.local-notification" source="npm"/>	
	<gap:plugin name="cordova-plugin-x-socialsharing" source="npm" />

	<gap:plugin name="ionic-plugin-keyboard" source="npm"/>	
	
    <gap:plugin name="cordova-plugin-camera" source="npm"/>
    <gap:plugin name="cordova-plugin-file" source="npm"/>
    <gap:plugin name="cordova-plugin-file-transfer" source="npm" version="1.5.1"/>	
	
    <gap:plugin name="cordova-plugin-x-socialsharing" source="npm" />	
    
    
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm"/>	
    
	<gap:plugin name="cordova-plugin-whitelist" source="npm"/>	
	
	
	
    <icon gap:platform="android" gap:qualifier="ldpi" src="resources/icon/android/ldpi.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="resources/icon/android/mdpi.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="resources/icon/android/hdpi.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="resources/icon/android/xhdpi.png" />
	<icon gap:platform="android" gap:qualifier="xxhdpi" src="resources/icon/android/xxhdpi.png" />
	<icon gap:platform="android" gap:qualifier="xxxhdpi" src="resources/icon/android/xxxhdpi.png" />
	
    <icon gap:platform="ios" src="resources/icon/ios/icon.png" width="57" height="57"/>
    <icon gap:platform="ios" src="resources/icon/ios/icon_2x.png" width="114" height="114"/>
    <icon gap:platform="ios" src="resources/icon/ios/icon-40.png" width="40" height="40"/>
    <icon gap:platform="ios" src="resources/icon/ios/icon-40-2x.png" width="80" height="80"/>
    <icon gap:platform="ios" src="resources/icon/ios/icon-50.png" width="50" height="50"/>
    <icon gap:platform="ios" src="resources/icon/ios/icon-50-2x.png" width="100" height="100"/>
    <icon gap:platform="ios" src="resources/icon/ios/icon-60.png" width="60" height="60"/>
    <icon gap:platform="ios" src="resources/icon/ios/icon-60-2x.png" width="120" height="120"/>
    <icon gap:platform="ios" src="resources/icon/ios/icon-60-3x.png" width="180" height="180"/>
    <icon gap:platform="ios" src="resources/icon/ios/icon-72.png" width="72" height="72"/>
    <icon gap:platform="ios" src="resources/icon/ios/icon-72-2x.png" width="144" height="144"/>
    <icon gap:platform="ios" src="resources/icon/ios/icon-76.png" width="76" height="76"/>
    <icon gap:platform="ios" src="resources/icon/ios/icon-76-2x.png" width="152" height="152"/>
    <icon gap:platform="ios" src="resources/icon/ios/icon-small.png" width="29" height="29"/>
    <icon gap:platform="ios" src="resources/icon/ios/icon-small-2x.png" width="58" height="58"/>	
	
	<icon src="resources/icon.png" gap:platform="winphone" />
	
	<icon src="resources/icon.png" />

	

    <gap:splash gap:platform="android" src="resources/screen/android/screen-ldpi-landscape.png" gap:qualifier="land-ldpi"/>
    <gap:splash gap:platform="android" src="resources/screen/android/screen-mdpi-landscape.png" gap:qualifier="land-mdpi"/>
    <gap:splash gap:platform="android" src="resources/screen/android/screen-hdpi-landscape.png" gap:qualifier="land-hdpi"/>
    <gap:splash gap:platform="android" src="resources/screen/android/screen-xhdpi-landscape.png" gap:qualifier="land-xhdpi"/>
    <gap:splash gap:platform="android" src="resources/screen/android/screen-xxhdpi-landscape.png" gap:qualifier="land-xxhdpi"/>
    <gap:splash gap:platform="android" src="resources/screen/android/screen-xxxhdpi-landscape.png" gap:qualifier="land-xxxhdpi"/>
    <gap:splash gap:platform="android" src="resources/screen/android/screen-ldpi-portrait.png" gap:qualifier="port-ldpi"/>
    <gap:splash gap:platform="android" src="resources/screen/android/screen-mdpi-portrait.png" gap:qualifier="port-mdpi"/>
    <gap:splash gap:platform="android" src="resources/screen/android/screen-hdpi-portrait.png" gap:qualifier="port-hdpi"/>
    <gap:splash gap:platform="android" src="resources/screen/android/screen-xhdpi-portrait.png" gap:qualifier="port-xhdpi"/>
    <gap:splash gap:platform="android" src="resources/screen/android/screen-xxhdpi-portrait.png" gap:qualifier="port-xxhdpi"/>
    <gap:splash gap:platform="android" src="resources/screen/android/screen-xxxhdpi-portrait.png" gap:qualifier="port-xxxhdpi"/>	
	
	

    <gap:splash gap:platform="ios" src="resources/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" height="1136"/>
    <gap:splash gap:platform="ios" src="resources/screen/ios/screen-iphone-landscape-568h-2x.png" width="1136" height="640"/>
    <gap:splash gap:platform="ios" src="resources/screen/ios/screen-iphone-portrait-667h.png" width="750" height="1334"/>
    <gap:splash gap:platform="ios" src="resources/screen/ios/screen-iphone-landscape-667h.png" width="1334" height="750"/>
    <gap:splash gap:platform="ios" src="resources/screen/ios/screen-iphone-portrait-736h.png" width="1242" height="2208"/>
    <gap:splash gap:platform="ios" src="resources/screen/ios/screen-iphone-landscape-736h.png" width="2208" height="1242"/>
    <gap:splash gap:platform="ios" src="resources/screen/ios/screen-ipad-landscape-2x.png" width="2048" height="1536"/>
    <gap:splash gap:platform="ios" src="resources/screen/ios/screen-ipad-landscape.png" width="1024" height="768"/>
    <gap:splash gap:platform="ios" src="resources/screen/ios/screen-ipad-portrait-2x.png" width="1536" height="2048"/>
    <gap:splash gap:platform="ios" src="resources/screen/ios/screen-ipad-portrait.png" width="768" height="1024"/>
    <gap:splash gap:platform="ios" src="resources/screen/ios/screen-iphone-portrait-2x.png" width="640" height="960"/>
    <gap:splash gap:platform="ios" src="resources/screen/ios/screen-iphone-landscape-2x.png" width="960" height="640"/>
    <gap:splash gap:platform="ios" src="resources/screen/ios/screen-iphone-portrait.png" width="320" height="480"/>
    <gap:splash gap:platform="ios" src="resources/screen/ios/screen-iphone-landscape.png" width="480" height="320"/>
	

    <gap:splash src="resources/splash.png" />
	
	
	
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
	<allow-navigation href="http://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>