<label class="item item-input  item-select"> 
    <div class="input-label">
        Adjust Day
    </div>    
  <select ng-model="user.profile.calc_day">
      <option ng-value="Monday">Monday</option>
      <option ng-value="Tuesday">Tuesday</option>
      <option ng-value="Wednesday">Wednesday</option>
      <option ng-value="Thursday">Thursday</option>
      <option ng-value="Friday">Friday</option>
      <option ng-value="Saturday">Saturday</option>
      <option ng-value="Sunday">Sunday</option>
  </select>
</label>  

<label class="item item-input  item-select"> 
    <div class="input-label">
        Units
    </div>    
  <select ng-model="user.profile.weight_unit">
      <option ng-value="lbs">lbs</option>
      <option ng-value="kg">kg</option>
  </select>
</label>  

