<ion-modal-view>
	<ion-header-bar class="bar-balanced" align-title="center">
		<div class="modal-button" ng-click="calendarModal.hide()">Close</div>            
		<h1 class="title modal-title">Calendar</h1>
	</ion-header-bar>
	<ion-content>

        <div  ng-show="!activeTab || activeTab === 'calendar'" class="calendar-tab">    
            <div class="date-navigation">
                <div class="left">
                    <a ng-click="changeDay(-1)">
                        <i class="icon ion-ios-arrow-left"></i>
                    </a>
                </div>
                <div class="calendar" ng-click="openDatePicker()">{{formatCalendarDate()}} <i class="icon ion-ios-calendar"></i></div>
                <div class="right">
                    <a ng-click="changeDay(1)">
                        <i class="icon ion-ios-arrow-right"></i>
                    </a>
                </div>
            </div>
             
          <ion-slides id="calendar-slider" class="calendar-slider" options="calendarSlider.options" slider="data.slider2">
              
            <ion-slide-page  ng-repeat="i in [1, 2, 3]" id="initPage{{i}}">           
             
            </ion-slide-page>                

              
          </ion-slides>
            
        </div>
            
            <div  ng-if="activeTab === 'graph'" class="graph-tab" id="graph-tab">
                
            <div class="graph-container">    
            <h2>Weigh Ins</h2>
            <highchart class="chart-item" id="chart1" config="bwChartConfig"></highchart>
            </div>

                <div class="graph-container">  
            <h2>Macro Breakdown</h2>
            <highchart class="chart-item" id="chart2" config="macroChartConfig"></highchart>
                </div>
<div class="graph-container">  
            <h2>Energy Breakdown</h2>
            <highchart class="chart-item" id="chart2" config="energyChartConfig"></highchart>             
</div>
            </div>
            
            
            
            
	</ion-content>
    
    
        <div class="calendar-tabs tabs tabs-light tabs-icon-top static">
            <a class="tab-item" ng-class="{'active':!activeTab || activeTab === 'calendar'}" ng-click="activeTab = 'calendar'">
                <i class="icon ion-ios-calendar"></i> Calendar View
            </a>
            <a class="tab-item" ng-class="{'active':activeTab === 'graph'}" ng-click="activeTab = 'graph';getStats()">
                <i class="icon ion-pie-graph"></i> Graph View
            </a>
        </div>     
    
</ion-modal-view>