<ion-modal-view>
	<ion-header-bar class="bar-balanced" align-title="center">
		<div class="modal-button" ng-click="helpModal.hide()">Close</div>            
		<h1 class="title modal-title  title-center">Help</h1>
	</ion-header-bar>
	<ion-content >
            <ion-slides options="options" slider="help.slider" class="help-slider">
                <ion-slide-page>
                  <div class="box">
                        <h2>How It Works</h2>
                        <iframe width="100%" height="215" src="https://www.youtube.com/embed/dGwKcCRR8k8" frameborder="0" allowfullscreen></iframe>       
                        <p>               
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget magna orci. Sed augue nisi, accumsan in erat at, interdum venenatis enim. Phasellus feugiat nisl magna, et porttitor tellus finibus in. Pellentesque mauris ex, dapibus facilisis auctor in, commodo a arcu. Pellentesque sollicitudin dui ut ex suscipit, porta malesuada magna aliquet. Sed vitae mi cursus, scelerisque orci non, dapibus felis. Ut sem tellus, sagittis non dictum sed, cursus in magna.                  
                        </p>
                  </div>
                </ion-slide-page> 
                <ion-slide-page>
                <div class="box">
                        <h2>Why We Built It</h2>
                        <iframe width="100%" height="215" src="https://www.youtube.com/embed/ZAKMD4M7Qkc" frameborder="0" allowfullscreen></iframe>      
                        <p>               
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget magna orci. Sed augue nisi, accumsan in erat at, interdum venenatis enim. Phasellus feugiat nisl magna, et porttitor tellus finibus in. Pellentesque mauris ex, dapibus facilisis auctor in, commodo a arcu. Pellentesque sollicitudin dui ut ex suscipit, porta malesuada magna aliquet. Sed vitae mi cursus, scelerisque orci non, dapibus felis. Ut sem tellus, sagittis non dictum sed, cursus in magna.                  
                        </p>
                </div>
                    </ion-slide-page> 
                <ion-slide-page>
                <div class="box">
                        <h2>How To Get In Touch</h2>
                        <iframe width="100%" height="215" src="https://www.youtube.com/embed/k2RyL8RjdFc" frameborder="0" allowfullscreen></iframe>     
                        <p>               
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget magna orci. Sed augue nisi, accumsan in erat at, interdum venenatis enim. Phasellus feugiat nisl magna, et porttitor tellus finibus in. Pellentesque mauris ex, dapibus facilisis auctor in, commodo a arcu. Pellentesque sollicitudin dui ut ex suscipit, porta malesuada magna aliquet. Sed vitae mi cursus, scelerisque orci non, dapibus felis. Ut sem tellus, sagittis non dictum sed, cursus in magna.                  
                        </p>
                </div>
                </ion-slide-page> 
              </ion-slide-page>      
            </ion-slides>  
	</ion-content>
</ion-modal-view>