<ion-modal-view>
	<ion-header-bar class="bar-balanced" align-title="center">
		<div class="modal-button" ng-click="upgradeModal.hide()">Close</div>            
		<h1 class="title modal-title  title-center">Upgrade</h1>
	</ion-header-bar>
	<ion-content >
            header section:
           Simplify your nutrition
           
           
           Self adjusting
           -enter unlimited weighins for ultimate accuracy
           -automated weekly macro adjustments
           
           Support
           -access to expert coaches
           -live chat
           
           Development
           -support ongoing development
           -priority feature requests
           

            
           enter affiliate code (optional)
           <button class="button button-balanced" ng-click="doUpgrade()">
                $7.99/month
            </button> 
            
            
            
	</ion-content>
</ion-modal-view>