


/* General
==================================*/

.button.button-default{
 border:1px #ccc solid;   
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,input, button, select, textarea,body, *{
    font-family:"Lato","Helvetica Neue", "Roboto", sans-serif;
}
h1{ 
        font-weight: 100;
        color:white;
            font-size: 80px;
}

ion-content{
        background-color: #ECECEC;
}


/* Utilities
==================================*/
p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


img {
    -webkit-user-drag: none;
}


.tabs.tabs-light{
}

.highcharts-button rect{
        fill:transparent;
        stroke:transparent;
}

.modal-button, .modal-button2{
        font-weight: 100;
    font-size: 20px;
    line-height: 32px;
    margin-left: 10px;
}

.modal-button2{
    margin-left: 0px;
    display: flex;
    position: absolute;
    right: 15px;  
}

input[type=range] {
  pointer-events: none;
}

input[type=range]::-webkit-slider-thumb {
  pointer-events:auto;
}

.spinner.spinner-balanced svg {
  stroke:#37794a;
  fill:#37794a;
}


/* Jivo
==================================*/

    jdiv.logoIconCloud_q-._iconDark_2a svg, jdiv.logoIconCloud_q-._iconDark_2a svg path,.envelopeIcon_3E._iconDark_2a svg path{
        fill: #69cf8d!important;
}

.iconWrap_2n._animationJivoIcon_30{
    animation:none !important;
}

.button_1O {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26) !important;
    
}

._show_1e.wrap_mW{
    z-index:9 !important;
        display: none;
}

.is-premium ._show_1e.wrap_mW{
    display:block;
}

.copyrightWrap_2o, .copyrightWrap_3g, jdiv[class^="copyrightWrap"]{
    display:none !important;
}


/* Menu
==================================*/



.platform-android .bar:not(.bar-footer){
    height:54px !important;
}

.platform-android .bar:not(.bar-footer) .title {
 height:54px !important;
 line-height:48px !important;

}


.platform-android .bar:not(.bar-footer) .button{
        min-height: 54px !important;
    max-height:54px !important;
}

.platform-android .modal-button, .platform-android .modal-button2{
        line-height: 42px;
}

.main-bar.bar:not(.bar-footer) .buttons-left .button:before{
   font-size: 28px;
}

.main-bar.bar:not(.bar-footer) .buttons-left .button:active{
    opacity:0.3;
}

.platform-android .main-bar.bar:not(.bar-footer) .buttons-right .button{
    line-height:40px;
}

.platform-android .main-bar.bar:not(.bar-footer) .buttons-left .button{
    line-height:40px;
}


.platform-android .has-header{
    top:54px !important;
}


.bar.bar-balanced{
    background-color:#69cf8d;
    border-color:#69cf8d;
        background-size: 100% 0px;
        box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.button.button-balanced {
    background-color:#69cf8d;
}

.bar .title{
    font-family:"Lato","Helvetica Neue", "Roboto", sans-serif;
    font-weight: 300;
    font-size: 30px !important;
    line-height: 38px;
}


/* Login
==================================*/

.login-screen{
    background-color:#69cf8d;
    text-align:center;
}

.login-screen .login-header{
    margin-top: 20%;
}

.login-screen h1{
 font-size:60px;   
}

.login-form{
    width:70%;
    margin:0 auto;
    min-height: 262.5px;
    max-height:262.5px;
}

.login-form .item-input{
    background-color: transparent;
    border: none;
        padding: 10px 10px;
}

.login-form .item-input input{
    border-bottom:1px solid rgba(255,255,255,0.5);
    font-size:18px;
    color:white;
}

.login-form .item-input input:focus { 
    border-bottom:1px solid rgba(255,255,255,1);
}

.login-form input::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.5);
}



.login-form .item{
    background-color: transparent;
    border: none;
    padding: 10px;
}



.login-form .login-button{
    margin-top:10px;
}
.login-form .login-button .button.button-balanced{
    background-color: rgba(255,255,255,0.4);
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    letter-spacing: 1px;    
}

.login-form .login-button .button.button-balanced.activated{
    border:none;
    opacity:0.8;
}

.login-form .login-text{
        padding-top: 0px;

}

.login-form .login-error{
        margin-top: -10px;
    color:white;
}

.login-form .login-error p{
    color:white;
}

.login-form .login-text a{
    color:rgba(255,255,255,0.5);
    font-size:18px;
}

.login-form .login-text a.activated{
    color:white;
}

.login-screen .secondary-action{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20%;    
}

.login-screen .secondary-action .button.button-balanced{
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    height: 50px;    
}

.login-screen .secondary-action .button.button-balanced.activated{
    background-color:transparent;
    border-color:white;
    color:white;
}

.login-form .item.gender-select{
    color: rgba(255,255,255,0.5);
    font-size:18px;
    padding-bottom:0px;
        margin-top: 10px;
}

.gender-select > div{
    margin-bottom:5px;
}

.gender-select i.icon{
        font-size: 50px;
    color: rgba(255,255,255,0.5);
        margin: 0px 5px;
}

.gender-select i.icon.active{
    color:white;
}

.login-form .item-input{
    color:rgba(255,255,255,0.5);
}

.weight-select{
    text-align:left;
}

.weight-select .item-input{
    display: inline-table;
    width: 80%;
}

.weight-select .item-input.item-select{
 width:20%;   
}

.weight-select .item-input.item-select select{
 background: transparent;
    border-bottom: 1px solid rgba(255,255,255, 0.5);
    color: white;
    max-width: 100%;
    padding-right: 0px;
    width: 100%;
    direction: ltr;
    padding-left: 5px;    
}

.weight-select .item-input.item-select:after{                                                  
right: 5px;
    color: rgba(255,255,255, 0.5);  
}

.login-form.profile-form{
    max-height:none;
}

.login-screen  .profile-container .secondary-action{
    margin-top:0px;
}



.activity-level.macro-range{
    
    margin-top:15px;
}

.activity-level.macro-range .item{
    
    padding-top:0px;
}

.activity-level.macro-range .range-text{
    color: White;
    font-size: 12px;   
}

.activity-level i{
    color:rgba(255,255,255,0.5);
}

.activity-level i.activated{
    color:White;
}


.activity-level p{
    color:rgba(255,255,255,0.5);
        font-size: 18px;
}


.activity-level .range input{
    background: linear-gradient(to right,rgba(255,255,255,0.5) 0,rgba(255,255,255,0.5) 100%);
 background-position: center;
    background-size: 99% 2px;
    background-repeat: no-repeat;   
}

.bodyfat-input p{
margin-bottom: 0px;
    color: white;
    font-size: 12px;    
}

.bodyfat-input p a{
 color:White;   
 text-decoration: underline;
}

.profile-container.spinner-container{
    margin-top:30px;
}

/* Home
==================================*/


.goal-slider-container{
    position:relative;
}

.goal-slider-container .slider-arrow{
    position: absolute;
    top: 0px;
    line-height: 30px;
    background-color: #dddddd;
    padding-right: 5px;
    padding-left: 5px;
    z-index:2;
        max-height: 30px;
}

.goal-slider-container .slider-arrow.back{
    left:0;
}

.goal-slider-container .slider-arrow.next{
    right:0;
}


.goal-slider{
    background-color: #ddd;
    height: 30px;
    padding: 5px;
}


.goal-slider .swiper-container-horizontal>.swiper-pagination{
    display:none;
}

.goal-slider .box{
    text-align: center;
    color:#ccc;
        white-space: nowrap;
}

.goal-slider .swiper-slide-active .box{
    color:black;
}

.weight-progress{
        text-align: center;
    padding: 20px;
    position: relative;
        margin-top: 20px;

}

.weight-progress .settings{
    position: absolute;
    color: #cccccc;
    font-size: 30px;
    right: 20px;
    top: 0px;
    z-index:9;
}

.weight-progress .upgrade-home{
    position: absolute;
    left: 20px;
    top: 0px;
    z-index:9;    
}

.weight-progress .upgrade-home button{
    font-size: 12px;
    height: 30px;
    min-height: 30px;
    line-height: 30px;    
}

.weight-progress .settings i{
    margin-left:10px;
}

.weight-progress .settings i.activated{
 color:#444;   
}

.weight-input{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;    
}

.weight-input .weight{
 font-size:40px;   
}

.weight-input .weight-above{
        color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.weight-input .weight-entered{
    margin-top: 106px;
}

.weight-input .enter-weight{
        color: rgba(0, 0, 0, 0.5);
    margin-top: 130px;
    font-size: 20px;
}

.macros{
    text-align: center;
    
    position: relative;
}

.macros .row{
    height:50%;
}

.macros .col:not(:last-child){
    border-right: 1px solid #ddd;
}




.macros .number{
    font-size: 30px;
    font-weight: 200;
        line-height: 40px;
}


.macros .text{
       font-size: 18px;
    color: rgba(0, 0, 0, 0.3); 
}

.macro-details{
        margin-top: 30px;
    border-top: 1px solid #dddddd;
    padding-top: 15px;
    margin-bottom:40px;

}

.macro-details .card .item{
        background-color: rgb(105, 207, 141);
        padding-right: 40px;
}

.macro-details .card .item i, .macro-details .card .item h2{
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.macro-details .card .item p{
    color:rgba(255,255,255,0.7);
    white-space: nowrap;
    overflow: hidden;    
}

.macro-details .card .item .icon.ion-edit{
font-size: 18px;
    color: rgba(255, 255, 255, 0.5);    
}

.macro-details .card .item .icon.ion-edit.activated{
 color:white;   
}

.popup-body .item, .popup-body .item.item-select select{
    border:none;
    background-color:transparent;
}

.range-text{
    text-align:center;
        margin-bottom: -10px;
}

.macro-range{
    margin-bottom:20px;
}

.macro-range .range-text{
        margin-top: 10px;
}

.macro-range p{
        margin-bottom: 0px;
    text-align: center;
}

.range .icon.activated{
    opacity:0.8;
}



/* Account
==================================*/

.bar.bar-balanced.account-header{
    box-shadow:none;
}

.account-highlights{
    color:White;
    background-color:rgb(105, 207, 141);
    text-align:center;
    padding: 20px;
}

.account-avatar img{
    width: 100px;
    height: 100px;
    border-radius:50px;
}

.account-name{
    font-size: 22px;
    font-weight: 300;
    margin-top: 10px;
}

.account-acheivements.row{
    margin-top: 20px;
    margin-bottom:5px;
}

.account-acheivements i{
        font-size: 25px;
    color: rgba(255, 255, 255, 0.6);
}

.account-acheivements h2{
        margin: 0px 5px;
    color: White;
    font-weight: 200;
    font-size: 26px;
}

.account-acheivements p{
color: white;
    font-size: 12px;
    margin: 0px;
    letter-spacing: 0.4px;
}

.list.account-inputs{
    margin-bottom:40px;
}

.list.account-inputs:nth-child(2){
    margin-bottom:0px;
}

.list.account-inputs:nth-child(2) .item:last-child{
    border-bottom:none;
}

.account-inputs .item.item-divider{
    height: 49px;
    line-height: 29px;
    font-size: 20px;
    font-weight: 300;    
}

.account-inputs .item input{
    text-align:right;
}

/* Help
==================================*/

.help-slider{
        padding-top: 20px;
}

.help-slider h2{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
}

.help-slider p{
        padding: 15px 20px;
}

/* Calendar
==================================*/

.date-navigation{
      background-color: #ddd;
      padding: 5px;
          white-space: nowrap;
}

.left, .right{
    display: inline;
    font-size: 20px; 
        display: inline-block;
        width:5%;
}

.left i, .right i{
    color:black;
}

.calendar{
    display: inline-block;
    width: 88%;
    line-height:23px;
    text-align: center;   
    vertical-align: top;
}

ion-slides.calendar-slider{
    display: table;
    min-height: 500px;    
}


.weight-lists .weight-number{
font-size: 24px;
    text-align: center;
    line-height: 34px;  
        font-weight: 300;
}

.weight-lists .item{
    padding-top:5px;
}

.weight-lists .weight-hour{
     color: #ddd;
    font-size: 12px;   
}

.weight-lists .weight-differance{
    text-align: right;
}

.weight-lists .differance-text{
     font-size: 10px;
    color: #ddd;   
}

.weight-lists .weight-differance.goal-positive{
    color:#69cf8d;
}

.weight-lists .weight-differance.goal-negative{
    color:#DE7A57;
}

.calendar-tabs.tabs .tab-item{
    color:#444;
}

.weight-lists .average{
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    
}
.weight-lists .average .average-text{
    font-size:14px;
        color: rgba(0, 0, 0, 0.5);
            margin-top: 10px;
}

.calendar-tab{
        padding-bottom: 80px;
}

/* Upgrade
==================================*/

.upgrade-header{
background-color: #69cf8d;
    text-align: center;
    padding: 20px 20px 30px 20px;    
}

.upgrade-header img{
    max-width:150px;
}

.upgrade-header h3{
    margin: 0px;
    color: white;    
}

.upgrade-footer .icon{
    font-size: 24px;
    color: #69cf8d;
    line-height: 34px;
    padding-left: 10px;    
}
.upgrade-footer .spinner{
padding-left: 10px;
    line-height: 42px;    
}
.upgrade-footer .spinner svg{
    width: 20px;
    height: 20px;   
}
.upgrade-footer .button{
    min-width: 100px;
}

.upgrade-footer .button .spinner{
    padding-left: 0px;
}


/*stats */

.graph-tab{
    padding-bottom:100px;
    max-width:100%;
    position:relative;
    background-color:white;
}

.graph-tab h2{
    font-size: 24px;
    text-align: center;
    line-height: 34px;
    font-weight: 300;
padding:20px;    
}

.graph-tab .graph-container:not(:first-child) h2{
    padding-bottom:0px;
    margin-bottom:0px;
}

.graph-tab .graph-container:first-child{
    padding-bottom:40px;
}

.graph-tab .graph-container:not(:first-child){
    border-top:1px solid #ddd;
        padding-top: 10px;
}

.chart-item{
    margin:0 auto;
    display:table;
}

.graph-navigation{
    position: fixed;
    right: 0px;
    top: 80px;  
        z-index: 11;
            background-color: rgba(230, 230, 230, 0.5);
            border-bottom-left-radius: 5px;
            border-top-left-radius:5px;
}

.graph-navigation li{
    padding: 10px 20px;
    border-bottom: #dedede 1px solid;   
}

.graph-navigation li:last-child{
    border-bottom:none;
}

.graph-navigation li i{
font-size: 30px;
    color: rgb(172, 223, 190);   
}

.graph-navigation li.active i{
    color: #69cf8d;
}