


/* General
==================================*/

.button{
    box-shadow:none;
}

.button.button-default{
 border:1px #ccc solid;   
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,input, button, select, textarea,body, *{
    font-family:"Lato","Helvetica Neue", "Roboto", sans-serif;
}
h1{ 
        font-weight: 100;
        color:white;
            font-size: 80px;
}

ion-content{
        background-color: #ECECEC;
}

.bar .title.title-left {
  text-align: center;
}

.tabs-dark > .tabs, .tabs.tabs-dark{
    border:none;
}






/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}

.button.button-positive,.button.button-assertive,.button-energized-900 {
    border-color: #de4223;
    background-color: #de4223;
    color: #fff;
}

.button.button-positive.active, .button.button-positive.activated, .button.button-assertive.active, .button.button-assertive.activated {
        border-color: #e42012;
    background-color: #e42012;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

img {
    -webkit-user-drag: none;
}


.dragging {
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);

    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}



.slide-in-right {
  -webkit-transform: translateX(100%);
    transform: translateX(100%); }

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translateX(0);
    transform: translateX(0); }

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }

.bar .button.button-clear.modal-button.modal-button-left{
    left:5px;
}

.tabs.tabs-light{
    background-image: none;
}

.highcharts-button rect{
        fill:transparent;
        stroke:transparent;
}

.modal-button, .modal-button2{
        font-weight: 100;
    font-size: 20px;
    line-height: 32px;
    margin-left: 10px;
}

.modal-button2{
    margin-left: 0px;
    display: flex;
    position: absolute;
    right: 15px;  
}




/* Menu
==================================*/



.platform-android .bar:not(.bar-footer){
    height:54px !important;
}

.platform-android .bar:not(.bar-footer) .title {
 height:54px !important;
 line-height:48px !important;
}

.platform-android .bar:not(.bar-footer) .button{
        min-height: 54px !important;
    max-height:54px !important;
}

.main-bar.bar:not(.bar-footer) .buttons-left .button:before{
   font-size: 28px;
}

.main-bar.bar:not(.bar-footer) .buttons-left .button:active{
    opacity:0.3;
}

.platform-android .main-bar.bar:not(.bar-footer) .buttons-right .button{
    line-height:40px;
}

.platform-android .main-bar.bar:not(.bar-footer) .buttons-left .button{
    line-height:40px;
}


.platform-android .has-header{
    top:54px !important;
}

.platform-android .bar .button.button-clear.modal-button::before{
        top: 0px;
    height: 54px;
    line-height: 54px;
    right: 0px;
}

.platform-android .bar .button.button-clear.modal-button .icon:before{
    line-height:42px;
}


.bar.bar-balanced{
    background-color:#69cf8d;
    border-color:#69cf8d;
        background-size: 100% 0px;
        box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.button.button-balanced {
    background-color:#69cf8d;
}

.bar .title{
    font-family:"Lato","Helvetica Neue", "Roboto", sans-serif;
    font-weight: 300;
    font-size: 30px !important;
    line-height: 38px;
}


/* Login
==================================*/

.login-screen{
    background-color:#69cf8d;
    text-align:center;
}

.login-screen .login-header{
    margin-top: 20%;
}

.login-screen h1{
 font-size:60px;   
}

.login-form{
    width:70%;
    margin:0 auto;
    min-height: 262.5px;
    max-height:262.5px;
}

.login-form .item-input{
    background-color: transparent;
    border: none;
        padding: 10px 10px;
}

.login-form .item-input input{
    border-bottom:1px solid rgba(255,255,255,0.5);
    font-size:18px;
    color:white;
}

.login-form .item-input input:focus { 
    border-bottom:1px solid rgba(255,255,255,1);
}

.login-form input::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.5);
}



.login-form .item{
    background-color: transparent;
    border: none;
    padding: 10px;
}



.login-form .login-button{
    margin-top:10px;
}
.login-form .login-button .button.button-balanced{
    background-color: rgba(255,255,255,0.4);
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    letter-spacing: 1px;    
}

.login-form .login-button .button.button-balanced.activated{
    border:none;
    opacity:0.8;
}

.login-form .login-text{
        padding-top: 0px;

}

.login-form .login-error{
        margin-top: -10px;
    color:white;
}

.login-form .login-error p{
    color:white;
}

.login-form .login-text a{
    color:rgba(255,255,255,0.5);
    font-size:18px;
}

.login-form .login-text a.activated{
    color:white;
}

.login-screen .secondary-action{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20%;    
}

.login-screen .secondary-action .button.button-balanced{
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    height: 50px;    
}

.login-screen .secondary-action .button.button-balanced.activated{
    background-color:transparent;
    border-color:white;
    color:white;
}

.login-form .item.gender-select{
    color: rgba(255,255,255,0.5);
    font-size:18px;
    padding-bottom:0px;
}

.gender-select > div{
    margin-bottom:5px;
}

.gender-select i.icon{
        font-size: 50px;
    color: rgba(255,255,255,0.5);
        margin: 0px 5px;
}

.gender-select i.icon.active{
    color:white;
}

.login-form .item-input{
    color:rgba(255,255,255,0.5);
}

.weight-select{
    text-align:left;
}

.weight-select .item-input{
    display: inline-table;
    width: 80%;
}

.weight-select .item-input.item-select{
 width:20%;   
}

.weight-select .item-input.item-select select{
 background: transparent;
    border-bottom: 1px solid rgba(255,255,255, 0.5);
    color: white;
    max-width: 100%;
    padding-right: 0px;
    width: 100%;
    direction: ltr;
    padding-left: 5px;    
}

.weight-select .item-input.item-select:after{                                                  
right: 5px;
    color: rgba(255,255,255, 0.5);  
}


/* Home
==================================*/

.goal-slider{
    background-color: #ddd;
    height: 30px;
    padding: 5px;
}

.goal-slider .swiper-container-horizontal>.swiper-pagination{
    display:none;
}

.goal-slider .box{
    text-align: center;
    color:#ccc;
}

.goal-slider .swiper-slide-active .box{
    color:black;
}

.weight-progress{
        text-align: center;
    padding: 20px;
    position: relative;
        margin-top: 20px;

}

.weight-progress .settings{
    position: absolute;
    color: #cccccc;
    font-size: 30px;
    right: 20px;
    top: 0px;
    z-index:9;
}

.weight-progress .settings i{
    margin-left:10px;
}

.weight-progress .settings i.activated{
 color:#444;   
}

.weight-input{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;    
}

.weight-input .weight{
 font-size:40px;   
}

.weight-input .weight-above{
        color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.weight-input .weight-entered{
    margin-top: 106px;
}

.weight-input .enter-weight{
        color: rgba(0, 0, 0, 0.5);
    margin-top: 130px;
    font-size: 20px;
}

.macros{
    text-align: center;
    
    position: relative;
}

.macros .row{
    height:50%;
}

.macros .col:not(:last-child){
    border-right: 1px solid #ddd;
}




.macros .number{
    font-size: 30px;
    font-weight: 200;
        line-height: 40px;
}


.macros .text{
       font-size: 18px;
    color: rgba(0, 0, 0, 0.3); 
}

.macro-details{
        margin-top: 30px;
    border-top: 1px solid #dddddd;
    padding-top: 15px;
    margin-bottom:40px;

}

.macro-details .card .item{
        background-color: rgb(105, 207, 141);
        padding-right: 40px;
}

.macro-details .card .item i, .macro-details .card .item h2{
    color: white;
}

.macro-details .card .item p{
    color:rgba(255,255,255,0.7);
}

.macro-details .card .item .icon.ion-edit{
font-size: 18px;
    color: rgba(255, 255, 255, 0.5);    
}

.macro-details .card .item .icon.ion-edit.activated{
 color:white;   
}



/* Account
==================================*/

.bar.bar-balanced.account-header{
    box-shadow:none;
}

.account-highlights{
    color:White;
    background-color:rgb(105, 207, 141);
    text-align:center;
    padding: 20px;
}

.account-avatar img{
    width: 100px;
    height: 100px;
    border-radius:50px;
}

.account-name{
    font-size: 22px;
    font-weight: 300;
    margin-top: 10px;
}

.account-acheivements.row{
    margin-top: 20px;
    margin-bottom:5px;
}

.account-acheivements i{
        font-size: 25px;
    color: rgba(255, 255, 255, 0.6);
}

.account-acheivements h2{
        margin: 0px 5px;
    color: White;
    font-weight: 200;
    font-size: 26px;
}

.account-acheivements p{
color: white;
    font-size: 12px;
    margin: 0px;
    letter-spacing: 0.4px;
}

.list.account-inputs{
    margin-bottom:40px;
}

.list.account-inputs:nth-child(2){
    margin-bottom:0px;
}

.list.account-inputs:nth-child(2) .item:last-child{
    border-bottom:none;
}

.account-inputs .item.item-divider{
    height: 49px;
    line-height: 29px;
    font-size: 20px;
    font-weight: 300;    
}

.account-inputs .item input{
    text-align:right;
}

/* Help
==================================*/

.help-slider{
        padding-top: 20px;
}

.help-slider h2{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
}

.help-slider p{
        padding: 15px 20px;
}